<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- aythUI CSS -->
    <link rel="stylesheet" href="https://authui.com/cloud/1.0/authui.css">

    <title>authUI | Demo1</title>
  </head>
  <body>
   <div id = "app">
        <h1>Hello, this is demo example for authui client authrization {{session}}</h1>
        <br><br>
        <div v-if="session == 0">
            <authform>
                    Sign in 
                    <authspase></authspase>
                    <authbutton onclick = "authui.signInFacebook()" class="facebook">Facebook</authbutton>
                    <authbutton onclick = "authui.signInGoogle()" class="google">Google +</authbutton>
                    <authbutton onclick = "authui.signInTwitter()" class="twitter">Twitter</authbutton>
            </authform>
        </div>
        <div v-if="session == 1" class = "authform" style = "text-align: left;width:500px;padding:0px;">
                <div style = "display:flex;align-items:center;padding:10px">
                    <img style = "border:3px #ddd solid;border-radius:100px;height:50px;width:50px" :src = "user.picture"/>
                    <span style = "width:100%;margin-left:10px;">{{user.displayName}}</span>
                    <a onclick = "authui.signOut()" style = "width:100px;font-size:13px;cursor:pointer;color:blue">Sign Out</a>
                </div>

                <div style = "font-size:13px;padding:10px;background:#f8f8f8">
                    <a style = "width:100px;font-size:13px;color:#000;font-weight:500">User data</a><br>
                    uid : {{user.uid}}<br>
                    displayName : {{user.displayName}}<br>
                    provider : {{user.provider}}<br>
                    email : {{user.email}}
                </div>
                
        </div>
   </div>
    <!-- authUI JS -->
    <script src="https://authui.com/cloud/1.0/authui.js"></script>
    <!-- vue JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                session : -1,
                user : {}
                
            }
        });
        authui.initializeApp({apiKey: 'dk1J8sgGxBRjlh5BF9LD4rLspiEyiufmF7XDn5aKvRVHZP0uNKYG4A1jJuHSOM7kJSNYLNz8ujFj1EEEfsa0T2iskPb2t8b4PPRs', authDomain: '', projectId: ''});
        authui.onAuthStateChanged(function (user) {
            if (user)  {app.session = 1; app.user = user;} else {
                app.session = 0;
            }
        });
    </script>
  </body>
</html>
